<div
  class="card"
  appHighlight="lightblue"
  [ngClass]="cardClasses"
  [ngStyle]="{ 'border-left': '6px solid ' + getBorderColor() }">

  <h3>{{ course.name }}</h3>

  <p>ID: {{ course.id }}</p>

  <p>Code: {{ course.code }}</p>

  <p>Credits: {{ course.credits | creditLabel }}</p>


  <div [ngSwitch]="course.gradeStatus">

    <span *ngSwitchCase="'passed'" class="passed">
      Passed
    </span>

    <span *ngSwitchCase="'failed'" class="failed">
      Failed
    </span>

    <span *ngSwitchDefault class="pending">
      Pending
    </span>

  </div>

<!-- Enroll / Unenroll Button -->
<ng-container *ngIf="enrolledIds$ | async as enrolledIds">

  <button (click)="toggleEnrollment(enrolledIds)">
    {{ isCourseEnrolled(enrolledIds) ? 'Unenroll' : 'Enroll' }}
  </button>

</ng-container>


  <!-- Show Details Button -->
  <button (click)="toggleDetails()">
    {{ isExpanded ? 'Hide Details' : 'Show Details' }}
  </button>


  <!-- Details Section -->
  <div *ngIf="isExpanded">

    <p>Course details:</p>

    <p>
      Status: {{ course.gradeStatus }}
    </p>

  </div>


</div>