<h2>Course List</h2>

<p *ngIf="isLoading">Loading courses...</p>

<ng-container *ngIf="!isLoading">
  <p *ngIf="errorMessage">
  {{ errorMessage }}
</p>

  <ng-container *ngIf="courses.length > 0; else noCourses">

<app-course-card
  *ngFor="let c of courses; let i = index; trackBy: trackByCourseId"
  [course]="c"
  (enrollRequested)="onEnroll($event)"
  (click)="viewCourse(c.id)">
</app-course-card>

  </ng-container>

</ng-container>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>

<p *ngIf="selectedCourseId">
  Selected course ID: {{ selectedCourseId }}
</p>
<input
  type="text"
  [(ngModel)]="searchTerm"
  (input)="updateSearch()"
  placeholder="Search courses">