.container {
  margin-left: 150px;
  margin-top: 40px;
}

.card {
  margin-bottom: 40px;
}

img {
  border-radius: 5px;
}

h1 {
  font-family: Arial, sans-serif;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}